/* CSS VARIABLES */
:root {
    --borderwidth: 7px;
    --roomdepth: 400px;
}

/* GLOBAL RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100vh;
    overflow-y: scroll;
    perspective: 2000px;
    perspective-origin: 50% 35%;
}

/* TYPOGRAPHY */
body {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    /* font-family: "lust", serif; */
    font-size: 87.5%;
    color: white;
    line-height: 1.5;
    margin: 0 auto;
    background-color: hsl(0 0% 10%);
    ;
}

.avant {
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-size: .7em;
    margin-right: -.05em;
}

.avant span {
    margin-right: -.05em;
}

/* HEADINGS
    Headings are based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16 */

h1,
h2,
h3 {
    margin: .5em 0;
    font-family: "lust", serif;
}

h1 {
    font-size: 3em;
    /* 48px: 48/16 = 3em */
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    /* 36px: 36/16 = 2.25em */
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    /* 24px: 24/16 = 1.5em */
    line-height: 1.2;
}

/* PARAGRAPHS */

p {
    margin: .5em 0;
    max-width: 38em;
}

/* LINKS */
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* SITE HEADER */
.site-header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
    color: white;
}

.site-header,
.site-footer {
    padding: 1.5em 1em 1em 1em;
    text-align: center;
}

@media (min-width:768px) {
    .site-header {
        display: flex;
        justify-content: space-between;
    }
}

.site-id {
    display: flex;
    justify-content: center;
}

.site-id .logo-kcc {
    max-width: 35px;
    margin-right: .5em;
    margin-bottom: .75em;
}

.site-id .logo-nma {
    max-width: 100px;
    margin-right: .5em;
    margin-bottom: .75em;
}

.site-id h1 {
    font-size: 1.5em;
    max-width: 100%;
    margin-top: .55em;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.site-id h1 a {
    text-decoration: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* NAVIGATION */
.site-nav {
    font-size: 1.2em;
    font-weight: 700;
}

.site-nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .site-footer .site-nav ul {
        padding: 0;
        margin: 0;
    }
}

.site-nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav a {
    text-decoration: none;
    display: block;
    padding: .8em 1em 1em 1em;
    line-height: 1;
    color: white;
}

.site-nav a:hover {
    color: rgba(0, 0, 0, .8);
}

.site-footer .site-nav a:hover {
    background-color: rgba(0, 0, 0, .5);
}

/* HELPER CLASSES */

/* IMAGES */
img,
video {
    max-width: 100%;
    height: auto;
}

iframe {
    max-width: 100%;
    height: 100%;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

.video {
    margin: 0 auto;
}

/* VIDEO WRAPPER */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* LAYOUT */


/* CONTAINER */

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */


@media (min-width: 1050px) {
    body {
        font-size: 100%;
        /* 16px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%;
        /* 18px */
    }

    .container {
        max-width: 1200px;
    }
}

/* SEMANTIC GRID SYSTEM */

/* SECTIONS */

#graduates {
    position: relative;
    width: 100%;
    padding: 10em 0;
    /* background: red; */
    /* background-color: teal; */
    /* background-color: hsl(0 0% 10%);
    z-index: 100; */
}

.studentlist {
    /* background-color: teal; */
    /* background-color: hsl(0 0% 10%); */
    z-index: 100;
}


/* FINAL SITE */


/* HERO */
.hero {
    padding: 5em 4%;
    text-align: center;
    background-color: hsla(208, 95%, 60%, 1);
    background-image:
        radial-gradient(at 41% 31%, hsla(219, 87%, 64%, 1) 0px, transparent 50%),
        /* mid-blue */
        radial-gradient(at 59% 85%, hsla(219, 89%, 74%, 1) 0px, transparent 50%),
        /* light-blue */
        radial-gradient(at 72% 69%, hsla(350, 90%, 69%, 1) 0px, transparent 50%),
        /* coral */
        radial-gradient(at 92% 11%, hsla(35, 100%, 60%, 1) 0px, transparent 50%),
        /* green */
        radial-gradient(at 58% 7%, hsla(234, 98%, 67%, 1) 0px, transparent 50%),
        /* burple */
        radial-gradient(at 29% 34%, hsla(208, 95%, 60%, 1) 0px, transparent 50%),
        /* skyblue */
        radial-gradient(at 29% 78%, hsla(173, 68%, 70%, 1) 0px, transparent 50%);
    /* seagreen */

    min-height: 100vh;
    display: grid;
    place-items: center;
    padding-bottom: 6em;
}


.hero h1 {
    color: white;
    font-size: 10vw;
}

.hero p {
    max-width: 400px;
}

/* BUTTONS */
.button,
button {
    font-size: 1em;
    display: inline-block;
    background-color: #333333;
    color: white;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
    text-align: center;
}

.button:hover,
button:hover {
    background-color: white;
    color: #333333;
    text-decoration: none;
}

.button.alt {
    border: 1px solid #333;
    background-color: transparent;
    color: #333333;
}

.button.alt:hover {
    background-color: #333333;
    color: white;
    border: 1px solid white;
}

/* SOCIAL MEDIA ICONS */
.social-icons {
    padding: 1em 1.5em;
    text-align: right;
    width: 100%;
}

.socialmedia {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media(max-width: 767px) {
    .socialmedia {
        text-align: center;
    }
}

.socialmedia li {
    display: inline-block;
    margin: 0 .3em;
}

.fab {
    color: white;
    /* font-size: clamp(2em 1.5vw); */
    font-size: 1.6em;
    text-decoration: none;
}

.fa-facebook-f:hover {
    color: #1877F2;
}

.fa-twitter:hover {
    color: #00acee;
}

.fa-instagram:hover {
    color: #C13584;
}

.fa-youtube:hover {
    color: #CD201F;
}


#orion,
#troy {
    background-color: hsla(219, 87%, 64%, .8);
}

.orion,
.troy {
    color: hsla(219, 87%, 64%, 1);
}

#yuma,
#maria {
    background-color: hsla(219, 89%, 74%, .5);
}

.yuma,
.maria {
    color: hsla(219, 89%, 74%, 1);
}

#kimi,
#vinsent {
    background-color: hsla(350, 90%, 69%, .5);
}

.kimi,
.vinsent {
    color: hsla(350, 90%, 69%, 1);
}

#selena,
#hiroaki {
    background-color: hsla(35, 100%, 60%, .8);
}

.selena,
.hiroaki {
    color: hsla(35, 100%, 60%, 1);
}

#kaleb,
#mikaela {
    background-color: hsla(234, 98%, 67%, .3);
}

.kaleb,
.mikaela {
    color: hsla(234, 98%, 67%, 1);
}

#cass,
#tre {
    background-color: hsla(208, 95%, 60%, .5);
}

.cass,
.tre {
    color: hsla(208, 95%, 60%, 1);
}

#kanalu,
#jenny {
    background-color: hsla(173, 68%, 70%, .5);
}

.kanalu,
.jenny {
    color: hsla(173, 68%, 70%, 1);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

span.kanalu {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.student-name h3.kanalu2 {
    font-size: 2.20em;
    font-size: 2.9vw;
    font-size: clamp(2.2em, 2.9vw, 2.9vw);
}

.student-name h3.kanalu2 span {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.videobtn a {
    display: block;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #fff;
    margin-right: 1em;
}

.room-container {
    transform-style: preserve-3d;
}

.student-room {
    padding: 20vh 0;
    border-top: 4vh solid hsl(0 0% 10%);
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform-style: preserve-3d;
}

.student-room+.student-room {
    border-top: 0;
}

.student-room::before,
.student-room::after {
    content: '';
    position: absolute;
    height: var(--roomdepth);
    width: 100%;
    backface-visibility: hidden;
    z-index: -1;
}

/* FLOOR */
.student-room::before {
    bottom: calc(100% + 4vh);
    background: yellow;
    background:
        radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
        url(../img/megan-illustrated-floor.jpg) center / cover,
        sandybrown;
    transform: rotatex(90deg);
    transform-origin: center bottom;
}

/* CEILING */
.student-room::after {
    top: 0%;
    background: white;
    transform: rotatex(-90deg);
    transform-origin: center top;
}

.student-room.first-room::before {
    background: hsl(0 0% 10%);
}

.student-room.last-room::after {
    background: hsl(0 0% 10%);
}

#about.last-room {
    min-height: 100vh;
    display: block;
}

/* CENTER WALL */
.student-room-walls {
    position: absolute;
    inset: 0;
    background:
        linear-gradient(to top, hsl(0 0% 90%) 2.5vh, transparent 0),
        radial-gradient(hsl(0 0% 0% / 30%), hsl(0 0% 0% / 50%)),
        /* 		url(https://picsum.photos/1024/400) center / cover, */
        darkgray;
    transform: translatez(calc(var(--roomdepth) * -1));
    transform-style: preserve-3d;
}

.student-room-walls::before,
.student-room-walls::after {
    content: '';
    position: absolute;
    height: 100%;
    width: var(--roomdepth);
}

/* LEFT WALL */
.student-room-walls::before {
    right: 100%;
    background:
        linear-gradient(to top, hsl(0 0% 75%) 2.5vh, transparent 0),
        radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
        /* 		url(https://picsum.photos/800/600) center / cover, */
        gray;
    transform: rotatey(90deg);
    transform-origin: right center;
}

/* RIGHT WALL */
.student-room-walls::after {
    left: 100%;
    background:
        linear-gradient(to top, hsl(0 0% 75%) 2.5vh, transparent 0),
        radial-gradient(hsl(0 0% 100% / 10%), hsl(0 0% 0% / 10%)),
        /* 		url(https://picsum.photos/600/800) center / cover, */
        gray;
    transform: rotatey(-90deg);
    transform-origin: left center;
}

.student-room-content {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    gap: 5%;
    color: white;
    font-weight: 200;
    text-shadow: 0 5px 10px hsl(0 0% 0% / 20%);
    z-index: 100;
}

.student-img-work:nth-child(2) {
    order: 1;
    max-width: 20%;
}

.student-img-work:nth-child(3) {
    order: 3;
    max-width: 30%;
}

.student-img-work img {
    max-width: 100%;
    height: auto;
}

.student-name {
    position: relative;
    padding-bottom: 90px;
    width: 100%;
}

.student-name h3 {
    font-size: 5.5em;

}

@media (min-width: 768px) {
    .student-name {
        padding-bottom: 50px;
    }
}

.avatar {
    position: absolute;
    display: block;
    border-radius: 100%;
    bottom: 0;
    left: 50%;
    max-width: 150px;
    margin: 0 auto;
    transform: translate(-50%, 50%);
    border: var(--borderwidth) solid rgb(252, 250, 250);
}

.student-links-wrapper {
    margin-bottom: 1em;
}

.student-links-wrapper ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.student-links-wrapper a {
    padding: .5em .5em .5em 0;
}

.links {
    display: inline-block;
    padding: 1em .5em;
}

.student-name-wrapper ul {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    margin: 0;
    padding: 0;
}

.student-project-wrap {
    max-width: 1600px;
    margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-rows: 10% 10% 35% 25% 20%;
}

.project-grid img,
.project-grid video {
    display: block;
    border: var(--borderwidth) solid rgb(252, 250, 250);
    box-shadow: inset 0 0 0px 1px rgba(252, 250, 250, 0);
    background-color: var(--color-body-backround);
}

.project-grid .noborder img,
.project-grid .noborder video {
    display: block;
    border: none;
    box-shadow: inset 0 0 0px 0 rgb(252, 250, 250);
    background-color: transparent;
}

.project-large {
    grid-column: 2 / 12;
    grid-row: 1 / 5;
}

.project-small {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    align-self: flex-start;
}

.project-medium {
    grid-column: 9 / 13;
    grid-row: 4 / 6;
}

.project-grid h5,
.project-grid h6 {
    margin: 0;
}

.project-grid h5 {
    margin-top: .5em;
}

.project-medium h5,
.project-medium h6,
.project-medium span.hide {
    text-align: right;
}

.project-small h5,
.project-small h6 {
    max-width: 100px;
}